bin/
obj/
[Bb]uild/
[Ll]ogs/
[Rr]elease*/
[Dd]ebug*/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/
*.DotSettings.user

*.g.cs
*.g.i.cs
*.i.cs
*.baml

*.nupkg
*.snupkg
packages/
!**/packages/build/
!**/packages/repositories.config

project.lock.json
project.fragment.lock.json
artifacts/
*.deps.json
*.runtimeconfig.json

*.pubxml.user
*.publishsettings
app.publish/
publish/

TestResult*/
[Test]Results/
*.coverage
*.coveragexml
*.trx
*.ncrunchsolution
*.ncrunchproject
*.ncrunch*
.vsperfmon*
*.vsp
*.psess
*.vspx
